!!!
%html
  %head
    %title Hue Controller
    %link{:rel => "stylesheet", :href => "/css/bootstrap.min.css"}
    %link{:rel => "stylesheet", :href => "/css/global.css"}
    - unless defined?(no_action_css)
      %link{:rel => "stylesheet", :href => "/css/controllers/#{action}.css"}

    %script{:src => "/js/jquery-1.8.3.min.js"}
    %script{:src => "/js/bootstrap.min.js"}
    %script{:src => "/js/helpers.js"}
    %script{:src => "/js/data.js"}
    :javascript
      var hub_info = #{$config.to_json};
      var HueData = #{$hue.to_json};

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => "/"} Hue Controller

          %ul.nav
            %li{:class => action == "index" ? "active": ""}
              %a{:href => "/"} Lights

          %ul.nav
            %li{:class => action == "schedules" ? "active": ""}
              %a{:href => "/schedules"} Schedules

          %ul.nav
            %li{:class => action == "control" ? "active": ""}
              %a{:href => "/control"} Control

          %ul.nav.pull-right
            %li{:class => (action == "config-new" || action == "config-update") ? "active": ""}
              %a{:href => "/config"} Configuration

    .container
      #info.alert.alert-info.hide

      = yield

    %script{:src => "/js/controllers/#{action}.js"}
